@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

.footer {
  background-color: #0f3d2e;
  color: white;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Instrument Sans', sans-serif;
}

.follow-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
 
  transition: transform .3s ease;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.phone {
  font-weight: bold;
}

.gov-logos {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.gov-logos img {
  width: 70px;
  height: auto;
}