@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap");

.second_container {
  min-height: 80vh;
  padding: 20px;
}

.contactStrip {
  width: 100%;
  overflow: hidden;
  /* hide overflow text */
  background: linear-gradient(90deg, #1e8f3a, #f0a500);
  color: #fff;
  padding: 8px 15px;
  white-space: nowrap;
}

.contactText {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  padding-left: 100%;
  /* start from right */
  animation: scrollText 15s linear infinite;
}

/* Keyframes for continuous movement */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pageBg {
  background: #6e6e6e;
  padding: 25px 0;
}

/* HERO IMAGE BOX */
.heroSection {
  max-width: 92%;
  height: 78vh;
  margin: 0 auto;

  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;

  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: background-image 1s ease-in-out;
}


/* DARK OVERLAY */
.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

/* CENTER TEXT */
.heroOverlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.heroOverlay h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.heroOverlay h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 14px;
}

.heroOverlay p {
  font-size: 1.2rem;
  margin-bottom: 18px;
}


.gpSection {
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #43a047;
  margin-bottom: 30px;
  position: relative;
  font-weight: bolder;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #2979ff;
  margin: 8px auto 0;
}

.gpContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

/* LEFT SIDE */
.leftCards {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.sarpanch {
  background: #fff7e6;
}

.upsarpanch {
  background: #f1f8e9;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffa726;
}

.upsarpanch img {
  border-color: #43a047;
}

.post {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #ef6c00;
}

.upsarpanch .post {
  color: #2e7d32;
}

.name {
  margin-top: 8px;
  font-weight: 600;
}

/* TABLE */
.tableWrapper {
  display: flex;
  justify-content: center;
  width: 70%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tableWrapper table {
  width: 100%;
  border-collapse: collapse;
}

.tableWrapper thead {
  background: #1565ff;
  color: #fff;
}

.tableWrapper th,
.tableWrapper td {
  padding: 14px;
  text-align: center;
}

.tableWrapper tbody tr:nth-child(even) {
  background: #f5f5f5;
}

.tableWrapper tbody tr:hover {
  background: #e3f2fd;
}

/* LOCATION SECTION */

.locationSection {
  margin-top: 60px;
  padding: 40px;
  background: #f9fff3;
  text-align: center;
}

.locationTitle {
  color: #1857d4;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.locationSubtitle {
  display: flex;
  justify-content: center;
  margin-left: 0.5em;
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.mapWrapper {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #1565ff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.mapWrapper iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
