.gallery-container {
  padding: 30px;
  background: #f5f7fb;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
.gallery-header {
  text-align: center;
  margin-bottom: 25px;
}

.gallery-header h2 {
  color: #0b3d91;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Button */
.gallery-btn {
  background: linear-gradient(135deg, #f93, #138808);
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 22px;
}

.gallery-btn:hover {
  opacity: 0.9;
}

/* Grid (MAX 4 per row) */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* Card */
.gallery-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  overflow: hidden; /* IMPORTANT for zoom effect */

}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
}


.gallery-card:hover img {
  transform: scale(1.1); /* zoom in */
}

/* Responsive */
@media (max-width: 1200px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
